.crew-bg {
  background-image: url(..\assets\crew\background-crew-mobile.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100vh;
 }
 
 @media (min-width: 560px) {
   .crew-bg {
    background-size: cover;
    height: 100%;
   background-position: center center;
   background-image: url(..\assets\crew\background-crew-tablet.jpg);
   }
 }
 
 @media (min-width: 955px) {
   .crew-bg {
    background-size: cover;
    height: 100vh;
   background-image: url(..\assets\crew\background-crew-desktop.jpg);
   }
 }