
.navbar {
  font-family: Barlow Condensed;
  margin-left: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  display: flex;
  align-items: center;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.logo {
  width: 48px;
  height: 48px;
  margin-top: 40px;
}

.navbar-list {
  display: flex;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3px;
  color: white;
  margin-top: 40px;
  padding: 0px 165px 0px 123px;
  text-transform: uppercase;
  align-items: center;
  gap: 48px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(1rem);
}

@media (min-width: 768px) {
  .underline-indicators > * {
    border-bottom: .2rem solid transparent;
    padding: 40px 0;
  } 

  .underline-indicators >li:hover {
    border-bottom: .2rem solid rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: 768px) {
  .underline-indicators > * {
    border-bottom: .2rem solid transparent;
    padding: 40px 0;
  }
}

@media (max-width: 565px) {
 .underline-indicators > * {
   border-left: .2rem solid transparent;
   padding: 0 0 0 40px;
   border-bottom: none;
  }

  .underline-indicators >li:hover {
    border-left: .2rem solid rgba(255, 255, 255, 0.4);
  }
}

.underline-indicators > .active{
  border-color: rgba(255, 255, 255);
}

.underline-indicators > .active:hover{
  border-color: rgba(255, 255, 255);
}

@media (min-width: 768px) {
  .navbar::after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background:  rgba(255, 255, 255, 0.15);
    margin-top: 38px;
    order: 1;
    margin: 38px -1rem 0 2rem;
  }

  .navbar-list {
    order: 2;
  }
}

@media (min-width: 1000px) {
  .navbar::after {
    margin: 38px -2rem 0 3rem;
  }
}

.number {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2.7px;
  margin-right: 12px;
}


@media (max-width: 1000px) {
  .navbar-list {
    padding-right: 46px;
    padding-left: 46px;
    gap: 40px;
  }
}

.toggle {
  display: none;
}

@media (max-width: 768px) {

  .navbar {
    margin-left: 39px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-list {
    padding: 0 48px;
    margin-top: 0;
  }

  .number {
    display: none;
  }
}

@media (max-width: 600px) {
  .navbar {
    margin-left: 25px;
  }
}

@media (max-width: 565px) {
  .navbar-list {
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 33%;
    z-index: 10;
    align-items: flex-start;
    padding: 118px 0px 0px 0px;
    height: 100vh;
    width: 67%;
    background-color: rgba(255, 255, 255, 0.06);
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .mobile-true {
    transform: translateX(0%);
  }

  .navbar {
    align-items: flex-start;
  }

  .number {
    display: inline-block;
  }

  .logo {
    margin-top: 24px;
  }

  .toggle {
    z-index: 30;
    margin-top: 33px;
    margin-right: 24px;
    display: block;
    width: 24px;
    height: 21px;
  }

}